.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  h2 {
    padding-top: 30px;
    font-size: 24px;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 20px;
    padding: 30px;
    border-radius: 10px;
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 15px;
      }
      input,
      textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--silver-matte);
        font-size: 15px;
        color: var(--dark-color);
      }

      textarea {
        height: 100px;
        resize: vertical;
      }
    }

    button {
      grid-column-start: span 2;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      background-color: var(--steel-blue-medium-matte);
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: var(--steel-blue-matte);
      }
    }
    .preview {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: bold;
      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
    }
    .form-group-description {
      grid-column-start: span 2;
    }
  }
}

@media screen and (max-width: 480px) {
  .add-product {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
