.profile {
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding: 10px;
  margin-top: 20px;
  color: var(--dark-color);
  .data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .data-img-text {
      display: flex;
      gap: 20px;
      .data-img {
        img {
          border-radius: 50%;
          height: 60px;
          width: 60px;
          object-fit: cover;
        }
      }
      .data-text {
        display: flex;
        align-items: center;
        h2 {
          font-size: 24px;
        }
      }
    }
    .cards {
      display: flex;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      .cards-textField {
        width: 200px;
      }
      .cards-inputField {
        display: flex;
        justify-content: flex-start;
      }
      input {
        margin-bottom: 15px;
        border: none;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      .input-readOnly {
        color: rgba(0, 0, 0, 0.45);
        border: none;
      }
    }
    h2,
    h3 {
      text-align: center;
    }

    h4 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
    }
    p {
      padding: 0;
      color: rgba(0, 0, 0, 0.45);
    }
    .hidden-buttons {
      display: flex;
      justify-content: space-around;
    }
    button {
      margin-top: 15px;
      border: none;
      font-size: 14px;
      color: var(--steel-blue-matte);
      &:hover {
        color: var(--steel-blue-medium-matte);
      }
      &:active {
        color: var(--steel-blue-matte);
      }
    }
  }

  .panel-admin {
    display: flex;
    flex-direction: column;

    h2,
    a {
      text-align: center;
    }
    .options-container {
      margin: 55px 55px;
      display: flex;
      flex-direction: column;
      .optionButton {
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid var(--light-gray-matte);
        border-radius: 5px;
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
.option-title {
  margin-left: 36%;
}
