.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  bottom: 0;
  padding-left: 30px;
  left: -300px;
  width: 200px;
  background-color: rgb(245, 245, 245);
  transition: left 0.3s ease-in-out;
  button {
    border: none;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
  }
}

.sidebar.open {
  left: 0;
}

.sidebar.closed {
  left: -300px;
}

.button-sidebar {
  position: fixed;
  top: 100px;
  left: 10px;
}
