.loading {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  min-height: 70vh;
}
.detail-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  margin: 70px 70px;
  border: 1px solid var(--light-gray-matte);
  border-radius: 5px;
  background-color: var(--white-color);
  .detail-image {
    button {
      font-size: 13px;
      cursor: pointer;
      border: none;
      transition: all 0.5s ease;
      background-color: transparent;
      color: var(--dark-color);
      &:hover {
        color: var(--steel-blue-medium-matte);
      }
    }
    img {
      display: flex;
      width: 450px;
      height: 400px;
      object-fit: contain;
    }
  }
  .detail-info {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    h3 {
      font-size: 22px;
    }
    .reviews-stars {
      .star {
        margin-bottom: 5px;
      }
      label {
        &:hover {
          cursor: default;
        }
      }
    }
    h2 {
      margin-top: 10px;
    }
  }

  .detail-buy {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    gap: 10px;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .p-shipping {
        display: flex;
        align-items: center;
        color: var(--success-color);
        font-size: 12px;
        font-weight: 600;
        margin: 10px 0;

        img {
          height: 22px;
          padding-right: 6px;
          padding-bottom: 5px;
        }
      }
      .p-favorite {
        p {
          display: none;
        }
      }

      .favorite {
        &:hover {
          cursor: pointer;
        }
      }
    }

    button {
      cursor: pointer;
      width: 100%;
      border: none;
      background-color: var(--steel-blue-medium-matte);
      color: #fcfcfc;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      padding: 12px;
      align-self: center;
      transition: all 0.5s ease;
      &:hover {
        background-color: var(--steel-blue-matte);
      }
    }

    .button-cart {
      background-color: var(--steel-blue-medium-matte);
      color: var(--light-color);
      color: #fcfcfc;
      &:hover {
        background-color: var(--steel-blue-matte);
      }

      a {
        color: var(--light-color);

        &:hover {
          color: var(--light-color);
        }
      }
    }

    .share {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      h4 {
        font-size: 17px;
      }

      .share-icons {
        display: flex;
        margin: 15px 0;
        gap: 30px;
      }

      .share-icons > * {
        display: flex;
        flex-direction: column;
        align-items: center;

        .share-tooltip {
          font-size: 12px;
        }
      }
    }
    .return-protected {
      display: flex;
      justify-content: flex-start;
      margin: 2px;
      gap: 10px;
      p {
        font-size: 14px;
        margin: 0;
        color: var(--steel-blue-medium-matte);
      }
    }
  }

  .detail-description {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 20px;
    grid-column: span 2;

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    .detail-description__div {
      display: grid;
      grid-template-columns: 1fr 6fr;
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;

      }

      p {
        margin: 0;
        border-bottom: 1px solid transparent;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }

    p {
      color: var(--dark-color);
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .adminOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--light-gray-matte);
    padding: 20px;
    row-gap: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    h2 {
      font-size: 23px;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .adminButtons {
      display: flex;
      justify-content: space-between;

      button {
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 12px 20px;
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.5s ease;
      }

      .edit {
        background-color: #dbb657;
        color: var(--light-color);
        &:hover {
          background-color: #c7a04f;
        }
      }

      .delete {
        background-color: #d9534f;
        color: var(--light-color);
        &:hover {
          background-color: #c9302c;
        }
      }
    }
  }

  .product404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3;
    min-height: 53vh;
    h1 {
      font-size: 20px;
    }
    button {
      cursor: pointer;
      border: none;
      color: var(--steel-blue-matte);
      background-color: transparent;
      &:hover {
        color: var(--steel-blue-medium-matte);
      }
      &:active {
        color: var(--steel-blue-matte);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 0;

    .detail-image {
      button {
        display: none;
      }
      img {
        height: 300px;
        width: 250px;
      }
    }
    .detail-info {
      width: 95%;
      h3 {
        font-size: 15px;
      }
      h2 {
        font-size: 22px;
      }
    }
    .detail-buy {
      width: 95%;
      margin: 0;

      p {
        font-size: 14px;
      }
      button {
        font-size: 14px;
      }
      .return-protected {
        p {
          font-size: 12px;
        }
      }
      .shipping-favorite {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .p-favorite {
          display: flex;
          align-items: flex-start;
          p {
            display: flex;
            margin: 1px 0 0 5px;
            color: var(--steel-blue-medium-matte);
            font-weight: bold;
          }
        }
        .favorite {
          width: 22px;
        }
      }
    }
    .share {
      h4 {
        align-self: center;
      }
      flex-direction: column;
      align-items: flex-start;
      .share-icons {
        flex-direction: row;
        width: 100%;
      }
    }
    .detail-description {
      width: 95%;
      row-gap: 15px;
      h2,
      h4 {
        margin: 0;
      }
      p{
        border: 1px solid transparent;
      }

      .reviews {
        .reviews-comment {
          flex-direction: column;
          gap: 10px;
        }
      }
    }
    .adminOptions {
      width: 95%;
      h2 {
        font-size: 20px;
      }
    }
  }
}
