.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--steel-blue-matte);
  }
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--steel-blue-matte);
    border-radius: 10px;
    padding-top: 30px;
    width: 400px;
    background-color: var(--light-color);
    margin: auto;

    .forgot-password-section {
      margin: 12px 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      input {
        width: 300px;
        height: 30px;
        border: 1px solid var(--steel-blue-matte);
        border-radius: 5px;
        padding: 0 10px;
      }
    }
  }
  a {
    color: var(--steel-blue-matte);
    font-weight: bold;
    font-size: 15px;
  }
  button {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #fcfcfc;
    background-image: linear-gradient(to right, #3b719d, #37a0ab);
    padding: 5px 35px;
    margin-bottom: 15px;
    border: 1px solid var(--steel-blue-matte);
    &:hover {
      cursor: pointer;
    }
  }
  .error {
    color: red;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .forgot-password {
    h2 {
      font-size: 25px;
    }
    .forgot-password-form {
      width: 300px;
      .forgot-password-section {
        input {
          width: 200px;
        }
      }
    }
  }
}
