.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.filtros_productos {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5%;
  width: 85%;
}

.divPagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.paginationAndCart {
  display: flex;
}

.paginationAndCart div:last-child {
  position: absolute;
  right: 0;
  margin-right: 35px;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  column-gap: 5%;
  height: 600px;
  padding: 1% 2%;
}

.noProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 625px;
  grid-column-start: span 3;
  color: var(--storm-gray-matte);
}
