.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 24px;
  }

  .empty {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .shipping-cards {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    h5 {
      font-size: 14px;
      font-weight: bold;
    }
    hr {
      margin: 0;
    }
    .products-card {
      display: flex;
      margin: 10px 0;
      padding: 10px 0;
      img {
        height: 80px;
        width: 100px;
        object-fit: contain;
        border: 1px solid var(--light-gray-matte);
        border-radius: 5px;
      }
      p {
        margin: 20px 10px;
        font-size: 13px;
      }
    }
    .button-close {
      padding: 5px 40px;
      font-size: 15px;
      align-self: center;
      border-radius: 5px;
      border: none;
      background-color: var(--steel-blue-medium-matte);
      color: var(--white-color);
      &:active {
        background-color: var(--steel-blue-matte);
      }
    }
  }
  .shipping-detail {
    padding: 10px;
    img {
      height: 50px;
      width: 50px;
      object-fit: contain;
      border: 1px solid var(--light-gray-matte);
      border-radius: 50%;
    }
    h4 {
      font-size: 15px;
      margin: 10px 0;
    }
    hr {
      margin: 10px 0;
    }
    p {
      font-size: 14px;
    }
    .shipping-price {
      margin-top: 20px;
    }
    .total-price {
      font-size: 18px;
      margin: 20px 0;
    }
    .shipping-adress {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      padding: 20px;
      background-color: var(--bg-color);
      border-radius: 5px;
      .shipping-adress-text {
        display: grid;
        margin-top: 10px;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .history {
    .empty {
      margin: 10px 20px;
      text-align: center;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    .shipping-cards {
      margin: 25px 0;
      .products-card {
        img {
          height: 80px;
          width: 80px;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
    .shipping-detail {
      h4 {
        font-size: 0.8em;
      }
    }
    .shipping-detail {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h5 {
        font-size: 0.9em;
      }
      p {
        font-size: 0.8em;
      }
      .shipping-adress {
        margin: 0;
      }
    }
  }
}
