.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-gray-matte);
  border-radius: 5px;
  margin: 20px 50px;
  padding: 10px 0 10px 0;
  h1 {
    font-size: 20px;
  }
  button {
    cursor: pointer;
    border: none;
    color: var(--storm-gray-matte);
  }
}
