.manage-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 24px;
  }
  .search-users {
    display: flex;
    margin: 10px;
    gap: 20px;
  }
  ul {
    list-style-type: none;
    gap: 20px;
    .user-card {
      background-color: var(--white-color);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      width: 800px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .user-data {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 10px 0;
        button {
          border: none;
          background-color: transparent;
          color: var(--steel-blue-matte);
          font-size: 12px;
          &:active {
            color: var(--steel-blue-medium-matte);
          }
        }
        span {
          color: var(--dark-color);
          font-weight: bold;
          margin-left: 10px;
          font-size: 15px;
        }
        p {
          font-size: 15px;
          color: var(--dark-color);
        }
      }
      .button-section {
        display: flex;
        justify-content: space-around;
        .delete-button {
          &:hover {
            color: var(--bg-color);
            background-color: var(--modal-red-button);
          }
        }
        button {
          margin-top: 10px;
          padding: 2px 5px;
          font-size: 15px;
          border: none;
          transition: all 0.3s ease;
          &:hover {
            background-color: var(--modal-red-button);
            color: var(--bg-color);
          }
        }
        button:nth-child(2):hover {
          background-color: var(--modal-yellow-button);
        }
        button:nth-child(3):hover {
          background-color: var(--steel-blue-medium-matte);
        }
      }
    }
  }
}

.confirm-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  button {
    width: 100px;
    border: none;
  }
  .delete-button {
    background-color: var(--ligth-color);
    color: var(--modal-red-button);
    &:hover {
      color: var(--bg-color);
      background-color: var(--modal-red-button);
    }
  }
}
