.navbar {
  color: var(--storm-gray-matte) !important;
  background-color: var(--white-color) !important;
  transition: all 0.3s ease;
  width: 100% !important;
  .navbar__logo {
    margin-left: 25px;
    color: var(--dark-color);
    a:hover {
      color: var(--dark-color);
    }
  }
  .container-fluid {
    .navbar-collapse {
      flex-grow: 0;
    }
  }
  .navbar__links {
    display: flex;
    align-items: center;
    gap: 40px;
    .nav-item {
      display: flex;
      align-items: center;
    }

    a {
      color: var(--storm-gray-matte);
      text-decoration: none;
      font-size: 15px;
    }
    .ingresar {
      background-image: linear-gradient(to right, #3b719d, #37a0ab);
      color: #f2f2f2;
      padding: 7px 10px;
      border-radius: 5px;
    }

    .desconectarse {
      background-image: linear-gradient(to right, #9d3b3b, #d04141);
      color: #f2f2f2;
      padding: 7px 10px;
      border-radius: 5px;
    }
  }

  .token_true {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .dark-mode {
    background-color: var(--white-color);
    color: var(--dark-color);
    border: none;
    margin-left: 40px;
    margin-right: 25px;
    img {
      width: 20px;
      cursor: pointer;
    }
  }

  .cart {
    border: none;
    font-weight: 400;
    font-size: 15px;
    img {
      width: 22px;
    }
  }

  @media screen and (max-width: 480px) {
    .navbar__links {
      gap: 5px;
    }
    .dark-mode {
      margin: 0;
      margin-top: 15px;
    }
    .token_true {
      flex-direction: column;
    }
  }
}
