.filters.open {
  position: absolute;
  left: 25px;
  top: 575px;
  height: auto;
  width: 600px;
}
.filters.closed {
  display: none;
}

.filters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 25px 0px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  height: 500px;
  background-color: var(--dark-color);
  border-radius: 5px;
  width: 250px;
  h4 {
    margin-top: 10px;
    font-size: 14px;
    color: var(--light-color);
  }

  .cleanFilters {
    padding: 5px 10px;
    font-size: 14px;
    margin-top: auto;
    border: none;
    color: var(--light-color);
    background-color: transparent;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    select,
    section,
    input {
      margin: 10px 0;
      font-size: 13px;
      padding: 2px;
      width: 100%;
      border-radius: 3px;
      border: none;
      background-color: transparent;
      color: var(--light-color);
    }

    input::placeholder {
      color: var(--light-color);
    }

    select {
      transition: all 0.3s ease;
      &:focus {
        outline: none;
      }
    }
  }
}

.searchBar-input {
  background-color: var(--bg-color);
  color: var(--dark-color);
}

.filters::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 45px;
  rotate: 45deg;
  border-width: 15px 15px 0 0;
  border-style: solid;
  border-color: var(--dark-color) transparent transparent transparent;
}

@media screen and (max-width: 480px) {
  .filters.open {
    gap: 40px;
    left: 25px;
    top: 320px;
    height: auto;
    width: 365px;
  }
}
