.authDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 54vw;
  .authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 5px 10px;
    border: 2px solid var(--steel-blue-matte);
    border-radius: 10px;
    background-color: var(--light-color);
  }

  .authFormLogin {
    margin-top: 4%;
  }

  .authForm h1 {
    font-size: 30px;
    padding: 10px;
    font-weight: 700;
    color: var(--steel-blue-matte);
    margin-bottom: 10px;
  }

  .authForm input {
    width: 300px;
    height: 30px;
    border: 1px solid var(--steel-blue-matte);
    border-radius: 5px;
    padding: 0 10px;
  }

  .authButton {
    font-size: 22px;
    font-weight: 700;
    color: #fcfcfc;
    background-image: linear-gradient(to right, #3b719d, #37a0ab);
    padding: 5px 50px;
    margin-bottom: 15px;
    border: 1px solid var(--steel-blue-matte);
    &:hover {
      cursor: pointer;
    }
  }

  .authForm p {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
  }

  .authForm p:last-child {
    display: flex;
    align-items: center;
  }

  .authForm a {
    font-size: 15px;
    font-weight: 700;
    color: var(--steel-blue-matte);
    margin-left: 5px;
  }
  .error {
    color: red;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
  }

  .pAuth {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center !important;
    font-weight: 400 !important;
  }

  // que el parrafo pAuth tenga lineas al costado
  .pAuth::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: var(--steel-blue-matte);
    margin-right: 10px;
  }

  .pAuth::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: var(--steel-blue-matte);
    margin-left: 10px;
  }

  .loginAuth0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--steel-blue-matte) !important;
      border-radius: 5px !important;
      width: 200px;
      padding: 2px 10px !important;
      transition: all 0.3s ease-in-out;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
      }

      div {
        display: flex;
        justify-content: center;
        padding-right: 0 !important;
        translate: -5px;
      }

      span {
        translate: -10px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        padding: 0 !important;
      }
      .loading {
        margin-left: 20px;
      }
    }
  }
}
